.survey-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide-container {
    display: flex;
    justify-content: center;
    height: 500px;

    &__icon {
        margin: 100px 70px;

        :hover {
            color: var(--clr-green-light);
            cursor: pointer;
        }
    }

    &__slider {
        display: flex;
        align-items: center;
    }

    .active-btn {
        color: var(--clr-green-light)
    }
}