.survay {
    display: flex;
    align-items: center;
    justify-content: center;


    &__button {
        position: relative;
        right: 100px;
        bottom: 20px;
    }
}

.survey-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide-container {
    display: flex;
    justify-content: center;
    height: 500px;

    &__icon {
        margin: 100px 70px;

        :hover {
            color: var(--clr-green-light);
            cursor: pointer;
        }
    }

    &__slider {
        display: flex;
        align-items: center;
    }

    .active-btn {
        color: var(--clr-green-light)
    }

}

.selectButton {
    .MuiFormControl-root {
        background-color: var(--clr-grey-10);
        height: 80px;
        width: 300px;
        border-radius: 5px;
        margin-top: 150px;
    }

    .MuiSelect-filled {
        color: var(--clr-grey-1);
        margin-top: 10px;
    }
}