.modal {
    width: 50%;
    height: 75%;
    background: var(--bck-color-2);
    box-shadow: 0 2px 2px rgb(170, 221, 217);
    position: fixed;
    top: 15vh;
    left: 25%;
    display: block;

    &__header {
        padding: 1rem;
        background: var(--bck-color-3);

        h1 {
            margin: 0;
            letter-spacing: .2rem;
            color: #ffffff;
        }
    }

    &__content {
        // padding: 1rem;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;

        .MuiButton-root {
            margin-right: 30px;
            color: var(--clr-red);
            border-color: var(--clr-red);
        }

        .MuiButton-root:hover {
            color: var(--clr-grey-9);
            border-color: var(--clr-grey-9);
            background-color: var(--clr-red);
        }

    }

    &__btn {
        background: rgb(10, 184, 190);
        font: inherit;
        border: 1px solid rgb(10, 184, 190);
        border-radius: 3px;
        padding: .5rem 1rem;
        margin-right: 1rem;
        box-shadow: 1px 1px 5px rgb(77, 179, 145);
        color: #ffffff;
        cursor: pointer;

        &:hover {
            background: rgb(29, 150, 156);
            border-color: rgb(29, 150, 156)
        }

        &:active {
            background: rgb(156, 29, 145);
            border-color: rgb(156, 29, 145)
        }

        &:focus {
            outline: none;
        }
    }
}