.profile {
    margin: 10px 0;
    background-color: var(--bck-color-2);


    // .MuiFormLabel-root {
    //     margin: 1rem 1rem 1rem .5rem;
    //     color: var(--clr-grey-8);
    // }

    .MuiChip-colorPrimary {
        color: var(--clr-white);
        border-color: var(--clr-grey-8);
    }

    &__left {
        border-right: 2px solid var(--clr-grey-6);
        text-align: center;

        &__location {
            background-color: red;
            color: red;
            position: absolute;
        }

        &__img {
            width: 90%;
            height: 400px;
            border-radius: 8%;
            padding: 20px;
        }

        &__info {
            display: flex;
            flex-direction: column;

            &__label {
                text-align: left;
            }

            &__textarea {
                padding: .5rem;
                font-size: .9rem;
                color: var(--clr-white);
                font-weight: 500;
                letter-spacing: .2rem;
                box-shadow: 2px 2px 2px rgba(72, 154, 209, 0.1);
                border: 1px solid rgb(97, 119, 115);
                background-color: var(--bck-color-4);
                border-radius: 5px;
                margin-right: 20px;
                margin-left: 10px;
            }

            &__inputs-container {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                box-sizing: border-box;
                transition: all 0.4s ease-in-out;
            }

            &__btns {}


            &__btn {
                opacity: .8;
            }

            .editmode {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                transition: all 0.4s ease-in-out;
                transform: translate(10px, 10px);
                box-shadow: -2px -3px 0px #fff, -2px -2px 0px #fff, -3px -3px 0px rgb(213, 233, 159), -4px -4px 0px rgb(160, 212, 14), -5px -5px 0px rgb(153, 153, 153), -6px -6px 0px #999, -7px -7px 0px #999, -8px -8px 0px #999, -9px -9px 0px #999, -10px -10px 0px #999, -11px -11px 0px rgb(150, 209, 13), -12px -12px 0px #fff;
                border-radius: 5px;
                margin-right: 10px;

                input {
                    transition: all 1s ease-in-out;
                    box-shadow: 2px 5px 8px -2px rgb(235, 238, 229);
                }

                .profile__left__info__textarea,
                .MuiInputBase-input {
                    transition: all 1s ease-in-out;
                    box-shadow: 2px 5px 8px -3px rgb(212, 214, 208);
                }

            }

            input {
                margin-right: 20px;
                margin-left: 10px;
            }

        }

        &__select-place {

            .MuiFormControl-root {
                height: 40px;
                width: 90%;
                margin: 0 20px 0px 10px;
            }

            .MuiSelect-filled {
                color: var(--clr-grey-10);
                padding-top: 10px;
            }

            .MuiInputBase-input {
                background-color: var(--bck-color-4);
                letter-spacing: .15rem;
                border-radius: 5px;
            }

        }
    }

    &__middel {

        &__pics {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            margin-bottom: 1rem;

            &__cards {
                display: flex;
                padding: 1rem;
                margin: 5px;
                justify-content: center;

            }

            &__title {
                color: wheat;
            }

        }

        &__account {
            min-height: 200px;
            display: flex;
            flex-flow: column;
            border: 2px solid var(--clr-grey-8);
            border-radius: 5px;
            padding: 1rem;
            background-color: var(--bck-color-3);
            align-items: space-around;

            &__section {
                display: flex;
                flex-direction: column;
            }

        }

        &__survey {
            border: 2px solid var(--clr-grey-8);
            padding: 1rem;
            margin-top: 1rem;
            border-radius: 5px;
            background-color: var(--bck-color-3);


        }

    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 2px solid var(--clr-grey-6);
        padding-top: 1rem;

        &__title {
            margin-bottom: 1rem;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;

            Button {
                margin-top: .8rem;
            }
        }

        &__ads {
            // margin-top: 4rem;
            width: 80%;

            &__paper {
                padding: 1rem;
                min-height: 300px;
            }
        }

        &__dashboard-button {
            .MuiButton-root {
                color: var(--clr-red);
                border-color: var(--clr-red);
            }

            .MuiButton-root:hover {
                color: var(--clr-grey-9);
                border-color: var(--clr-grey-9);
                background-color: var(--clr-red);
            }

            padding: 1rem;
            width: fit-content;
        }

        &__gender-icon {
            color: var(--clr-red);
            position: relative;
            right: 40px;
            padding: 5px;
            top: 40px;
        }

        .divider {
            width: 100%;
            margin: 1rem 0;

        }

    }
}