.ticket {

    &__container {
        display: flex;
        padding: 1rem;
        
    }

    &__items {
        margin: 5px;
        width: 100%;

        .MuiButtonBase-root {
            outline: none;
        }

    }

}